<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.catzhang.ssoprovider.mapper.UserMapper">
    <insert id="addUser">
        insert into sso_user(
            username,
            password,
            phone,
            email,
            created,
            updated,
        )values(
            #{username},
            #{password},
            #{phone},
            #{email},
            NOW(),
            NOW()
        )
    </insert>
    <select id="checkUser" resultType="java.lang.Integer">
        select
            count(*)
        from sso_user
        where username = #{username}
    </select>
</mapper>